<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>AI Firewall</title>
</head>

<body style="
background-color: #2196f3;
background-image: url('https://www.apogeeitservices.com/hs-fs/hubfs/AdobeStock_309613855.jpeg?width=3945&name=AdobeStock_309613855.jpeg');
background-size: cover;
">
    <section class="w-100 d-flex align-items-center position-absolute" >
        <div class="d-flex align-items-center w-100">
            <div class="container-fluid p-2">
                <div class="row">
                    <div class="col-md-4">
                        <div class="wrapper-logo" style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    ">
                            <img src="{{ url_for('static' , filename='images/logo.png') }}" alt="logo" style="
                            width: 250px;
                            height: 180px;
                        " />
                            <!-- <h2 class="text-center text-white" style="font-weight: 900;">AI Powered Firewall</h2> -->
                        </div>
                        <h6 class="text-center text-white">Predictive Threads Intelligence using Machine Learning</h6>
                        <h6 class="text-end text-white">By Talha Ahmed Khan</strong></h6>
                        <div class="card p-3 p-md-5 rounded shadow mt-2 mb-5 mx-auto">
                            <div class="row text-center">
                                <div class="card-head text-end">

                                </div>
                                <div class="card-body">
                                    <form method="post" id="myForm">
                                        <div class="mb-3">
                                            <input class="form-control csv_file" type="file" name="csv_file"
                                                id="formFile" required>
                                        </div>
                                        <div class="wrapper-element d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary" id="trained_dataset">Trained
                                                Data Model</button>
                                            <div class="create-loader d-none">
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="responseContainer" class="mt-3 shadow d-none p-5" style="background-color: white;border-radius: 12px;">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script>
        $(".csv_file").on("change", function () {
            var fileInput = $(this);
            var fileName = fileInput.val();
            var allowedExtensions = /(\.csv)$/i;

            if (!allowedExtensions.exec(fileName)) {
                swal({
                    title: "Please choose a .csv file",
                    text: "Failed...",
                    icon: "error",
                    button: false,
                    timer: 2000
                }).then(function () {
                });
                fileInput.val('');
            } else {
                $('#update_chatbot').prop('disabled', false);
            }
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $(document).ready(function () {
            $('#myForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                var formData = new FormData(form[0]);
                $(".create-loader").removeClass("d-none");

                swal({
                    title: 'Please wait',
                    text: 'Your Model is Getting ready for Prediction...',
                    icon: 'info',
                    button: false,
                    closeOnClickOutside: false,
                    closeOnEsc: false
                });

                $.ajax({
                    type: 'POST',
                    url: '/trained-dataset',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {

                        swal.close();
                        $("#responseContainer").removeClass("d-none");

                        $(".create-loader").addClass("d-none");
                        var responseContainer = $('#responseContainer');
                        responseContainer.empty();
                        responseContainer.append('<h2 class="result-heading" style="font-weight: 900;padding: 20px;border-bottom: 2px solid black;">Dataset Result</h2>');
                        responseContainer.append('<p><strong>Accuracy:</strong> ' + (response.accuracy * 100).toFixed(0) + '%</p>');
                        responseContainer.append('<h5>Classification Report:</h5>');
                        var reportTable = $('<table class="table"></table>');
                        reportTable.append('<thead><tr><th></th><th>Precision</th><th>Recall</th><th>F1-score</th><th>Support</th></tr></thead>');
                        var reportBody = $('<tbody></tbody>');
                        $.each(response.classification_report, function (label, measures) {
                            if (label !== 'accuracy' && label !== '1') {
                                reportBody.append('<tr><td>' + label + '</td><td>' + (measures.precision * 100).toFixed(0) + '%</td><td>' + (measures.recall * 100).toFixed(0) + '%</td><td>' + (measures['f1-score'] * 100).toFixed(0) + '%</td><td>' + measures.support + '</td></tr>');
                            }
                        });
                        reportTable.append(reportBody);
                        responseContainer.append(reportTable);
                        responseContainer.append('<p><strong>Macro Avg - F1-score:</strong> ' + (response.classification_report['macro avg']['f1-score'] * 100).toFixed(0) + '%</p>');
                        responseContainer.append('<p><strong>Weighted Avg - F1-score:</strong> ' + (response.classification_report['weighted avg']['f1-score'] * 100).toFixed(0) + '%</p>');
                        responseContainer.append('<div class="row"><div class="col-md-6"><h5><strong>Confusion Matrix:</strong></h5><img src="{{ url_for("static" ,filename="images/confusion_matrix.png" ) }}" alt="logo" class="img-fluid" /></div><div class="col-md-6"><h5><strong>Thread Classification:</strong></h5><img src="{{ url_for("static" ,filename="images/thread_classification.png" ) }}" alt="logo" class="img-fluid" /></div><div class="col-md-6"><h5><strong>Feature Importance:</strong></h5><img src="{{ url_for("static",filename="images/feature_importance.png" ) }}" alt="logo" class="img-fluid" /></div><div class="col-md-6"><h5><strong>ROC Curve:</strong></h5><img src="{{ url_for("static" , filename="images/roc_curve.png" ) }}"alt="logo" class="img-fluid" /></div></div>');
                    },
                    error: function (error) {
                        swal.close();
                        swal({
                            title: "Failed...",
                            text: error.responseJSON.error,
                            icon: "error",
                            button: false,
                            timer: 4000
                        }).then(function () {
                        });
                        console.error('Error sending data:', error);
                        $('.create-loader').addClass('d-none');
                        $('#create_chatbot').attr('disabled', false);
                    }
                });
            });
        });


    </script>
</body>

</html>